/* global styles start */

body{
    font-family: 'Lato', sans-serif;
}

/* global styles end */

/* upper bar styles start */

.upper-bar{
    background-color: #08526d;
    color: #ddd;
    font-size: 12px;
    padding: 10px;
    text-transform: uppercase;
    padding: 10px 0;
}
.upper-bar a{
    text-decoration: none;
    color: #ddd;
}
.upper-bar span a:hover{
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.upper-bar span a i{
   padding: 5px 2px; 
}
.upper-bar .fa-envelope{
    margin-left: 7px;
}
.second-col{
    padding-top: 2px;
    text-align: right;
}
.bar-btn{
    padding: 5px 15px;
    border: 1.5px solid #ec1c23;
    margin-left: 80px;
    transition: all 0.3s;
}
.bar-btn a{
    color: #fff;
}
.bar-btn:hover{
    background-color: #ec1c23;
    cursor: pointer;
    transition: all 0.3s;
}

/* upper bar styles end */

/* navbar styles start */

.navbar{
    padding: 20px 0;
}

.nav-link{
    padding: 10px;
    margin-right: 5px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #08526d !important;
    text-transform: uppercase;
    font-size: 14px;
    transition: all 0.3s;
}
.nav-link:hover{
    color: #ec1c23 !important;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.active .nav-link{
    color: #ec1c23 !important;
}

/* navbar styles end */

/* slider styles start */
.carousel-inner .carousel-item{
    background-size: cover;
    background-position: center center;
    /* margin: 0; */
}
.slider .carousel-one{
    background-image: url(../images/slider01.jpg);
}
.slider .carousel-two{
    background-image: url(../images/slider02.jpg);
}
.slider .carousel-three{
    background-image: url(../images/slider03.jpg);
}
.slide-header{
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: left;
    align-items: center;
}
 .inner-header{
    z-index: 3;
    color: #fff;
    font-size: 70px;
    font-weight: 700;
    line-height: 1.2;
    margin-left: 200px;
}
.inner-header p{
    margin-bottom: 0;
    
}
.inner-header .highlight{
    background-color: #ec1c23;
    padding: 0 10px;
}
.overlay{
    position: absolute;
    color: #fff;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 1;
}
.carousel-indicators li{
    height: 5px;
}
/* slider styles end */

/* features styles start */
.features{
    padding: 100px 0;
}
.features .row{
    padding: 0;
    margin: 0 auto;
}
.features .col-style{
    text-align: center;
    padding: 0 10px;
    }
.features i{
    width: 60px;
    height: 60px;
    line-height: 60px;
    background-color: #ec1c23;
    color: #fff;
    margin-bottom: 10px;
}
.features i{
    font-size: 20px;
}
.features h3{
    font-size: 20px;
    font-weight: 700;
    color: #08526d;
}
.features p{
    font-size: 16px;
    color: #687074;
}
/* features styles end */

/* overview styles start */
.overview{
    background-color: #F0F5F7;
    padding: 100px 0;
}
.overview .container{
    padding: 0;
}
.overview .row{
    text-align: center;
}
.overview .col-md-8{
    margin: 0 auto;
    padding: 0 5px;
}
.overview h2{
    font-size: 42px;
    font-weight: 900;
    color: #242833;
    margin-bottom: 40px;
    letter-spacing: 2px;
}
.overview p{
    font-size: 18px;
    color: #555;
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.8;
}
.overview a{
    display: inline-block;
    color: #fff;
    background-color: #ec1c23;
    font-size: 14px;
    font-weight: 900;
    padding: 10px 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 2.2;
    text-decoration: none;
    margin-top: 10px;
    transition: all 0.3s;
}
.overview a:hover{
    background-color: #08526d;
    transition: all 0.3s;
}
/* overview styles end */

/* featured work styles start */

.featured{
    padding: 100px 0 70px;
}
.container-fluid{
    padding: 0;
}
.feature-list{
    margin-bottom: 50px;
}
.featured .col-md-8{
    padding: 0;
    margin: 0 auto 40px;
}
.featured h2{
    font-size: 42px;
    font-weight: 900;
    color: #242833;
    margin-bottom: 40px;
    letter-spacing: 2px;
}
.featured p{
    font-size: 18px;
    color: #555;
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.8;
}
.featured-list{
    margin-bottom: 50px;
}
.filter{
    display: inline-block;
    color: #08526d;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    border: 1px solid #d3dde1;
    padding: 5px 15px;
    line-height: 2;
    margin-right: 5px;
    margin-bottom: 10px;
    min-width: 80px;
    cursor: pointer;
    transition: all 0.3s;
}
.filter:hover{
    color: #ec1c23;
    border-color: #ec1c23;
    transition: all 0.3s;
}
.filter.active{
    background-color: #ec1c23;
    color: #fff;
    border: 1px solid #ec1c23;
}

.poortfolio-view{
    height: 100vh;
}
.featured .row{
    margin: 0;
}
.portfolio-items .col-sm-6{
    padding: 0;
}
.portfolio-items img{
    width: 100%;
}
.portfolio-items .outer-content{
    position: relative;
}
.portfolio-items .over-lay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.9);
    padding: 45px;
    text-transform: uppercase;
    transition: all 0.3s;
    opacity: 0;
    cursor: pointer;
}
.portfolio-items .inner-border{
    border: 1px solid #999;
}
.portfolio-items .inner-content{
    margin: 33% 0;
}
.portfolio-items h3{
    margin: 20px 0;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1px;
    color: #ec1c23;
}
.portfolio-items a{
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 400;
}

/* featured work styles end */

/* latest post styles start */

.latest-post{
    padding: 30px 0 100px;
    text-align: center;
}
.latest-post .container{
    max-width: 85%;
    padding: 0;
}
.latest-post .row{
    padding: 0;
    margin: 0 auto;
    text-align: left;
}
.latest-post .main-row{
    text-align: center;
    margin-bottom: 30px;
}
.main-row .col-md-8{
    margin: 0 auto;
}
.latest-post h2{
    font-size: 42px;
    font-weight: 900;
    color: #242833;
    margin-bottom: 40px;
    letter-spacing: 2px;
}
.latest-post p{
    font-size: 18px;
    color: #555;
    letter-spacing: 2px;
    font-weight: 400;
    margin-bottom: 20px;
    line-height: 1.8;
}
.blog-row .col{
    padding: 15px;
    
}
.blog-row .col img{
    width: 100%;
}
.blog-row h3{
    font-size: 20px;
    font-weight: 700;
    color: #08526d;
    margin-top: 20px;
    margin-bottom: 8px;
}
.blog-row p:first-of-type{
    font-size: 16px;
    color: #8B999F;
    margin: 0;
    margin-bottom: 10px;
}
.blog-row p{
    font-size: 16px;
    color: #646770;
    line-height: 1.5;
    letter-spacing: 0px;
}
.blog-row a{
    color: #ec1c23;
    font-weight: 700;
}

/* latest post styles end */

/* testimonial styles start */

.testimonial{
    background-image: url(../images/testimonial-bg.png);
    background-size:  cover;
    position: relative;
}
.testimonial .overlay2{
    position: absolute;
    color: #fff;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6)
}
.testimonial .carousel-inner{
    padding: 150px 170px;
}
.testimonial .carousel-item{
    height: 100% !important;
    text-align: center;
    color: #fff;
}
.carousel-item img{
    width: 100px;
    height: 100px;
}
.carousel-item h4{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 2px;
    margin-top: 20px;
}
.carousel-item span{
    color: #ddd;
}
.carousel-item p{
    font-size: 16px;
    letter-spacing: 2px;
    padding: 0 5px;
    margin: 20px 0;
}
/* testimonials styles end */

/* pricing styles start */

.pricing{
    padding: 100px 0;
    text-align: center;
    background-color: #f7f7f7;
}
.pricing .main-row{
    margin-bottom: 50px;
}
.pricing .main-row h2{
    color: #242833;
    font-weight: 900;
    font-size: 42px;
    letter-spacing: 2px;
    margin-bottom: 30px;
}
.pricing .main-row p{
    font-size: 18px;
    color: #555;
    letter-spacing: 2px;
}
.pricing .card-col{
    padding: 15px;
}
.pricing .card-content{
    background-color: #fff;
    padding: 1px 0 50px;
    box-shadow: 0 0 4px 0 rgba(130, 121, 121, .2);
}
.pricing .card-col h4{
    font-size: 24px;
    font-weight: 700;
    color: #08526d;
    margin: 50px 0 15px 0;
}
.pricing .card-col p{
    font-size: 16px;
    font-weight: 400;
    color: #8B999F;
    margin-bottom: 20px;
}
.pricing .card-col .price{
    font-size: 40px;
    font-weight: 700;
    color: #08526d;
    margin: 35px 0;
    padding: 10px 0;
    background-color: #f7f7f7;
}
.pricing .card-col .price span{
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}
.pricing .card-col .selected{
    background-color: #ec1c23;
    color: #fff ;
}
.pricing .card-col ul{
    margin: 10px 0 40px;
}
.pricing .card-col li{
    color: #555;
    font-size: 16px;
    margin-bottom: 10px;
    line-height: 1.8;   
}
.pricing .card-col a{
    display: inline-block;
    color: #fff;
    background-color: #ec1c23;
    font-size: 16px;
    font-weight: 900;
    padding: 5px 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 2.2;
    text-decoration: none;
    margin-top: 10px;
    transition: all 0.3s;
}
.pricing .card-col a:hover{
    background-color: #08526d;
    transition: all 0.3s;    
}

/* pricing styles end */

/* choose us styles start */
.choose-us .row{
    margin: 0;
}
.choose-us .left-col{
    background-image: url(../images/choose-us.png);
    background-size: cover;
    background-position: center;
}
.choose-us .right-col{
    background-color: #08526D;
    padding: 128px 40px 131px 30px;
}
.choose-us .right-col h3{
    font-size: 40px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 40px;
}
.choose-us .right-col p{
    font-size: 16px;
    color: #b5c3c9;
    letter-spacing: 2px;
    margin-bottom: 20px;
}
.choose-us .right-col a{
    display: inline-block;
    color: #fff;
    background-color: #ec1c23;
    font-size: 16px;
    font-weight: 900;
    padding: 5px 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 2.2;
    text-decoration: none;
    margin-top: 15px;
    transition: all 0.3s;
}
.choose-us .right-col a:hover{
    background-color: #08526d;
    transition: all 0.3s;
}

@media(max-width: 991px){
    .choose-us .left-col{
        height: 500px;
    }
    .choose-us .right-col{
        padding: 80px 40px;
    }
}
/* choose us  styles end */

/* meter styles start */

.meter{
    padding: 100px 0;
}
.meter .container{
    margin: 0 auto;
    text-align: center;
    color: #08526D;
}
.meter i{
    font-size: 30px;
    margin-bottom: 30px;
}
.meter p{
    font-size: 40px;
    font-weight: 900;
    margin-bottom: 20px;
}
.meter .meter-tag{
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 2px;
    color: #ec1c23;
    text-transform: uppercase;
}

/* meter styles end */

/* call to action styles start */

.call-to-action{
    padding: 75px 0;
    background-color: #ed1d24;
    color: #fff;
}
.call-to-action .container ,.call-to-action .col-md-10{
    margin: 0 auto;
}
.call-to-action p{
    font-size: 30px;
    margin: 0;
    float: left;
}
.call-to-action a{
    float: right;
    border: 2px solid #fff;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 10px 30px;
    transition: all 0.3s;
}
.call-to-action a:hover{
    background-color: #08526D;
}
/* call to action styles end */

/* footer styles start */

footer{
    background-color: #f7f7f7;
}
footer .container{
    margin: 0 auto;
    padding: 100px 0;
}
footer .col-left{
    margin-bottom: 30px;
}
footer .col-left .img-brand{
    display: inline-block;
    margin-bottom: 25px;
}
footer .col-left p{
    margin-top: 10px;
    font-size: 16px;
    color: #555;
    line-height: 1.7;
}
footer .col-left a{
    text-decoration: none;
    color: #08526D;
    transition: all 0.3s;
    
}
footer .col-left a:hover{
    color: #ec1c23;
    transition: all 0.3s;
}
footer .col-mid h4{
    font-size: 25px;
    color: #08526d;
    letter-spacing: 1px;
    margin: 5px 0 25px;
    border-bottom: 1px solid #555;
    width: 85%;
    padding-bottom: 5px;
}
footer .col-mid ul{
    width: 50%;
    float: left;
}
footer .col-mid li{
    margin-bottom: 20px;
}
footer .col-mid li a{
    text-decoration: none;
    color: #08526d;
    transition: all 0.3s;
}
footer .col-mid li a:hover{
    color: #ed1d24;
    padding-left: 4px;
    transition: all 0.3s;
}
footer .col-mid li i{
    font-size: 13px;
    color: #ccc;
    padding-right: 5px;
}
footer .col-right h4{
    font-size: 25px;
    color: #08526d;
    letter-spacing: 1px;
    margin: 5px 0 25px;
    border-bottom: 1px solid #555;
    padding-bottom: 5px;
}
footer .col-right p{
    color: #555;
    margin-bottom: 15px;
}

.links{
    border-top: 1px solid #dde4e5;
    padding: 25px 0;
}
.links .container{
    padding: 0;
}
.left-links-col p{
    margin: 0;
    color: #666;
}
.right-links-col{
text-align: right;
}
.right-links-col ul{
    margin: 0;
}
.right-links-col li{
    display: inline-block;
    margin-left: 25px;
}
.right-links-col li a{
    color: #a0a0a0;
    transition: all 0.3s;
}
.right-links-col li a:hover{
    color: #ed1d24;
    transition: all 0.3s;
}
.right-links-col li i{
    font-size: 25px;
}

/* footer styles end */